<footer>
    <div class="logosection">
        <h1>GoPAY</h1>
        <h1>WALLET</h1>
    </div>
    <div class="subscribesection">
        <h2>SUBSCRIBE</h2>
        <p>Get monthly updates and free resources</p>
        <div class="inputemail">
            <input type="text" placeholder="ENTER EMAIL" id="email">
            <input type="submit" value="SUBSCRIBE" id="subscribe">
        </div>
 
    </div>
    <div class="socialmedia">
        <h2>CONNECT WITH US</h2>
        <i class="fa fa-twitter" aria-hidden="true"><a href="#"></a></i>
        <i class="fa fa-facebook" aria-hidden="true"><a href="#"></a></i>
        <i class="fa fa-youtube-play" aria-hidden="true"><a href="#"></a></i>
        <i class="fa fa-instagram" aria-hidden="true"><a href="#"></a></i>
        <i class="fa fa-google-plus" aria-hidden="true"><a href="#"></a></i>
    </div>
</footer>