<div class="userdashboard">
    <div class="usercard">
        <div class="userimage">
            <img src="../../assets/profile.png" alt="">
        </div>
        <h2>Welcome {{username}}</h2>
        <div class="balance">
            <div class="amount" id="inr">
                <img src="../../assets/india.png" alt="" class="currencyflag">
                <p class="currencyamount">{{currentINR}} RS</p>
            </div>
            <div class="amount" id="usd">
                <img src="../../assets/usa.png" alt="" class="currencyflag">
                <p class="currencyamount">{{currentUSD}} USD</p>
            </div>
            <div class="amount" id="cny">
                <img src="../../assets/china.png" alt="" class="currencyflag">
                <p class="currencyamount">{{currentCNY}} CNY</p>
            </div>
            <div class="amount" id="euro">
                <img src="../../assets/euro.png" alt="" class="currencyflag">
                <p class="currencyamount">{{currentEURO}} EURO</p>
            </div>
        </div>
    </div>

    <div class="transactionsection">
        <h1>TRANSACTIONS</h1>

        <div class="transactionlist">
            <div class="transaction" *ngFor="let transaction of transactions">
                <p class="transactionid">{{transaction.transactionId}}</p>
                <p class="transactionid">{{transaction.status}}</p>
                <p class="dateoftransfer">{{transaction.dateOfTransfer}}</p>
                <p class="dateoftransfer">{{transaction.time}}</p>
                <p class="accounttransferred">{{transaction.accountTransferredto}}</p>
                <p class="amounttransferred">{{transaction.amountTransferred}}</p>
                <p class="currencyused">{{transaction.currencyUsed}}</p>
                <p class="transactioncategory">{{transaction.transactionCategory}}</p>
            </div>
        </div>

    </div>
</div>