<section class="ratecard">
    <div class="rate" id="inr">
        <img src="../../assets/india.png" alt="">
        <p>BUY : -- | SELL : -- </p>
    </div>
    <div class="rate" id="usd">
        <img src="../../assets/usa.png" alt="">
        <p>BUY : {{USD}} | SELL : {{USD-1}}</p>
    </div>
    <div class="rate" id="cny">
        <img src="../../assets/china.png" alt="">
        <p>BUY : {{CNY}} | SELL : {{CNY-1}}</p>
    </div>
    <div class="rate" id="euro">
        <img src="../../assets/euro.png" alt="">
        <p>BUY : {{EURO}} | SELL : {{EURO-1}}</p>
    </div>
</section>
