<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <!-- <app-maindashboard></app-maindashboard> -->
  <!-- <app-login></app-login> -->
  <!-- <app-register></app-register> -->
  <!-- <app-registerbank></app-registerbank> -->
  <!-- <app-registeruser></app-registeruser> -->
  <!-- <app-userdashboard></app-userdashboard> -->
  <!-- <app-convertcurrency></app-convertcurrency> -->
  <!-- <app-addamount></app-addamount> -->
  <!-- <app-makepayment></app-makepayment> -->
  <!-- <app-viewtransactions></app-viewtransactions> -->
  <!-- <app-viewconversions></app-viewconversions> -->
  <app-ratecard></app-ratecard>
  <app-footer></app-footer>
</body>
</html>