.login {
    height: 65vh;
    background-color: rgb(235, 235, 235);
    align-items: center;
    display: flex;
    justify-content: center;
}

.logincard {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 100px;
    justify-content: space-around;
    align-items: center; 
    box-shadow: -10px 10px 20px #888888;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    margin-top: 3%;
    font-size: 2.5em;
}

form {
    display: flex;
    height: 80%;
    width: 75%;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputfields {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    border-radius: 20px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.submit {
    height: 20%;
    width: 50%;
    align-self: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, rgb(25, 53, 105) , rgb(22, 121, 179));
    border-radius: 20px;
    border: none;
    box-shadow: -10px 10px 20px #888888;
}

.submit:hover{
    cursor: pointer;
    box-shadow: -5px 5px 10px #888888;
}



.login-area{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-left: 35vw;
    padding-top: 10vh;
    height: 70vh;
}
.error-border{
    border-color: brown;
}

.error-hide{
    display: none;
}

.error-message{
    color: red;
    font-style: italic;
} 

@media (max-width: 426px) {
    .logincard {
        width: 95%;
    }
}